@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cabin+Sketch:wght@400;700&family=Inspiration&display=swap");

/* font-family: 'Acme', sans-serif;
font-family: 'Cabin Sketch', sans-serif;
font-family: 'Inspiration', cursive; */
:root {
  --background-clr: #151d2f;
  --text-clr: #fff;
  --nav-background-clr: #2b304d;
  --card-background-clr: #f9b17a;
  --green-clr: #19574c;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Acme", sans-serif;
}
/* ! reset styling */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  display: inline-block;
  object-fit: cover;
  object-position: center;
}

body {
  background: var(--background-clr);
  overflow-x: hidden;
}

/* ! Preloader styling */
.loader {
  height: 100dvh;
  width: 100%;
  position: absolute;
  z-index: 10099;
  top: 0;

  .blinder-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100dvh;
    display: flex;

    .blinder {
      background: linear-gradient(
        to top,
        var(--background-clr),
        var(--green-clr)
      );
      height: 100%;
      flex: 1;
      transform-origin: top;
    }
  }

  svg {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 8vw;
  }
}

.drip-loader {
  animation: animateDrips 1s infinite;
}

@keyframes animateDrips {
  to {
    transform: translateY(100px);
  }
}

/* !  header starts here */
.header {
  height: 10rem;
  display: grid;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: var(--background-clr); */
  z-index: 999;
}

.navbar {
  display: flex;
  border: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  border-radius: 5rem;
  background: var(--nav-background-clr);
}
.logo-container {
  width: 120px;
}
.menu-btn {
  width: 50px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 5rem;
  position: relative;
  z-index: 1000;
}

.menu-container {
  width: 100%;
  position: fixed;
  right: 100%;
  bottom: 0;
  height: 100%;
}
.slider-container {
  width: 100%;
  height: 100%;

  position: relative;
}
.sliders {
  width: 100%;
  height: 22%;
  background: linear-gradient(to left, var(--green-clr), var(--background-clr));
}

.navlinks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.navlinks li {
  transform: scale(1);
  text-align: center;
}
.links {
  color: var(--text-clr);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Acme", sans-serif;
}
.navlinks li:hover {
  transform: scale(1.2);
}
.links:hover {
  color: var(--card-background-clr);
}
.lines {
  width: 60%;
  height: 3px;
  background: var(--card-background-clr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  right: 0px;
}

/* ! Main container */

.main {
  width: 100%;
  background: var(--background-clr);
  padding-block-end: 4rem;
  padding-block-start: 10rem;
}

.container {
  max-width: 370px;
  width: calc(100% - 10px);
  margin-inline: auto;
}

/* ! left column  */

.heading-container {
  text-align: center;
}
.title {
  color: var(--text-clr);
  font-size: 3.2rem;
  font-family: "cabin Sketch", sans-serif;
  margin-bottom: 1.5rem;
}

.title > span {
  font-size: 3.6rem;
  font-family: "cabin Sketch", sans-serif;
}

.title-discription {
  color: var(--card-background-clr);
  font-size: 1.6rem;
}

.btn-container {
  margin-top: 2rem;
}
.cta {
  border: 1px solid;
  color: var(--background-clr);
  background-color: var(--card-background-clr);
  padding: 0.7rem 1.2rem;
  border-radius: 5rem;
  transition: box-shadow 0.5s;
}
.cta:hover {
  box-shadow: 0px 0px 10px 1px var(--card-background-clr);
}

/* ! right column  */

.hero-right-col {
  padding-block: 5rem;
}
.hero-img-container {
  height: 400px;
  width: 100%;
  border-top-left-radius: 5em;
  border-bottom-right-radius: 5rem;
  padding-inline: 2rem;
}
.hero-img-container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5em;
  border-bottom-right-radius: 5rem;
  filter: drop-shadow(0px 0px 10px var(--background-clr));
  display: grid;
  z-index: -10;
}

/* ! Art works container */

.artWorks {
  width: 100%;
  background: linear-gradient(to top, var(--green-clr), var(--background-clr));
  padding-block: 12rem;
}

.cards-container {
  display: grid;
  row-gap: 2rem;
}
.title-cards {
  width: 100%;
  position: relative;
  text-align: center;
  padding-block: 2rem;
  border-radius: 3rem;
  background-color: var(--green-clr);
  box-shadow: 0px 0px 10px 2px var(--card-background-clr);
  color: var(--background-clr);

  transition: transform 0.5s;
}
.title-cards:hover {
  transform: scale(1.1);
}
.card-logo-container {
  width: 50px;
  aspect-ratio: 1;
  position: absolute;
  top: -20px;
  left: 20px;
  transition: all 0.5s;
}
.title-cards:hover .card-logo-container {
  transform: scale(1.3);
}
.card-logo-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* ! grid gallery container */

.grid-gallery-conatiner {
  width: 100%;
  padding-block-start: 5rem;
  display: grid;
  row-gap: 1rem;
}

/* ! grid-left-column container */
.grid-left-column {
  display: grid;
  row-gap: 1rem;
}
.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, auto));
  grid-template-rows: repeat(2, 100px);
  gap: 1rem;
}

.grid-item {
  /* border: 1px solid rgb(235, 66, 94); */
  background-color: var(--card-background-clr);
  border-radius: 1rem;
}
.grid-item-2 {
  grid-row-start: span 2;
  background: url("images/grid-1-image-1.jfif");
  background-position: center;
  background-size: cover;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, auto));
  grid-template-rows: repeat(2, minmax(120px, auto));
  gap: 1rem;
}

/* ! grid-left-column container */
.grid-right-column {
  display: grid;
  row-gap: 1rem;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, auto));
  grid-template-rows: repeat(3, minmax(120px, auto));
  gap: 1rem;
}
.grid-item-4 {
  grid-column: span 2;
}
.grid-item-7 {
  grid-row: span 2;
}
.grid-item-10 {
  grid-column: span 2;
}

.grid-item-1 {
  animation: slider 2s ease-in-out infinite;
}
.grid-item-2 {
  animation: slider2 2s ease-in-out infinite;
}
.grid-item-3 {
  animation: slider3 2s ease-in-out infinite;
}
.grid-item-4 {
  animation: slider4 2s ease-in-out infinite;
}
.grid-item-5 {
  animation: slider3 2s ease-in-out infinite;
}
.grid-item-6 {
  animation: slider2 2s ease-in-out infinite;
}
.grid-item-7 {
  animation: slider 2s ease-in-out infinite;
}
.grid-item-8 {
  animation: slider3 2s ease-in-out infinite;
}
.grid-item-9 {
  animation: slider4 2s ease-in-out infinite;
}
.grid-item-10 {
  animation: slider4 2s ease-in-out infinite;
}

@keyframes slider2 {
  0% {
    background-position: top;
  }
  50% {
    background-position: left;
  }

  90% {
    background-size: 150%;
  }
  100% {
    background-position: center;
    background-size: cover;
  }
}
@keyframes slider3 {
  0% {
    background-position: top;
  }
  50% {
    background-size: 200%;
    background-position: center;
  }

  90% {
    background-size: 120%;
    background-position: center;
  }
  100% {
    background-position: center;
    background-size: cover;
  }
}
@keyframes slider4 {
  0% {
    background-position: bottom;
    background-size: 300%;
  }
  50% {
    background-size: 200%;
    background-position: center;
  }

  90% {
    background-size: 120%;
    background-position: center;
  }
  100% {
    background-position: center;
    background-size: cover;
  }
}
@keyframes slider {
  0% {
    background-size: 300%;
  }
  50% {
    background-size: 200%;
  }
  70% {
    background-size: 150%;
  }

  90% {
    background-size: 120%;
  }
  100% {
    background-size: cover;
  }
}

/* ! ART speaks container */

.every-art-speaks {
  width: 100%;
  display: grid;
  padding-block: 7rem;
  background: linear-gradient(var(--green-clr), var(--background-clr));
}
.art-speaks-left-col {
  padding: 1rem;
}
.image-showcase {
  width: 100%;
  height: 300px;
  border-radius: 2rem;
}
.image-showcase img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.data-container {
  text-align: center;
  padding: 2rem 1rem;
  display: grid;
  place-content: center;
}
.card-title {
  font-family: "Inspiration", cursive;
  color: white;
  font-size: 3rem;
  word-spacing: 1rem;
}

.card-disc {
  color: var(--text-clr);
  margin-top: 1rem;
}

/* ! about-me-section */
.about-me-section {
  width: 100%;
  display: grid;
  padding-block: 7rem;
}
.about-me-right-col {
  display: grid;
  justify-content: center;
}
.about-me-left-col {
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* !testimonial-section */
.testimonial-section {
  width: 100%;
  display: grid;
  padding-block: 7rem;
}
.what-people-says-container {
  padding-inline: 2rem;
  padding-top: 2rem;
}
.testimonial-title {
  text-align: center;
}
.testimonial-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
  grid-auto-rows: 200px;
  gap: 3rem 1rem;
  margin-top: 4rem;
}
.testimonial-grid {
  background: var(--green-clr);
  padding: 1rem;
  border-radius: 4rem;
  position: relative;
  display: grid;
  place-content: center;
  backdrop-filter: blur(100px);
}
.testimonial-logo-container {
  width: 50px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
}
.testimonial-logo-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimonial-details {
  text-align: center;
}

@media all and (min-width: 600px) {
  .container {
    /* border: 1px solid yellow; */
    max-width: 550px;
    width: calc(100% - 10px);
    margin-inline: auto;
  }
  /* ! main container */
  .main-container {
    display: flex;
  }
  .hero-left-col {
    width: 50%;
    display: grid;
    align-items: center;
  }
  .hero-right-col {
    width: 50%;
    display: grid;
    align-items: center;
  }

  /* ! cards-container */
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .title-cards {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .card-logo-container {
    position: static;
  }
  /* ! art-speaks-container */
  .every-art-speaks {
    padding-block: 10rem;
  }
  .art-speaks-container {
    display: flex;
  }
  .art-speaks-right-col {
    width: 50%;
    display: grid;
    align-items: center;
  }
  .art-speaks-left-col {
    width: 50%;
    display: grid;
    align-items: center;
  }
  /* ! art-speaks-container */
  .aboutme-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .about-me-right-col {
    width: 50%;
    display: grid;
    align-items: center;
  }
  .about-me-left-col {
    width: 50%;
    padding: 1rem 1.2rem;
  }
}

@media all and (min-width: 800px) {
  .container {
    max-width: 750px;
    width: calc(100% - 10px);
    margin-inline: auto;
  }
  .title {
    font-size: 5rem;
  }
  .title span {
    font-size: 5.6rem;
  }
  .grid-gallery-conatiner {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .testimonial-grid-container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }
  .testimonial-1 {
    grid-column: span 2;
  }
  .testimonial-2 {
    grid-row: span 2;
  }
  .testimonial-5 {
    grid-column: span 2;
  }
}
